body {
    font-size: 4rem;
    max-width: 1000px;
    margin: 1rem auto;
}

button {
    padding: 0.2rem 1rem;
}

div.story {
    display: none;
}

#rendered-story {
    display: block;
    font-family: 'Indie Flower', fixed;
    padding: 3rem 55px 27px;
    position: relative;
    border: 1px solid #B5B5B5;
    background: white;
    background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
    -webkit-background-size: 100% 3rem;
    -moz-background-size: 100% 3rem;
    -ms-background-size: 100% 3rem;
    background-size: 100% 3rem;
    border-bottom: 2px solid #B5B5B5;
    border-right: 2px solid #B5B5B5;
}



#rendered-story::before {
    z-index: -1;
    margin: 0 1px;
    width: 706px;
    height: 10px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background: white;
    border: 1px solid #B5B5B5;
}

#rendered-story::after {
    content: '';
    position: absolute;
    width: 0px;
    top: 0;
    left: 39px;
    bottom: 0;
    border-left: 1px solid #F8D3D3;
}

#rendered-story::first-letter {
    text-transform: uppercase;
}